/*
 * Copyright (c) 2026
 *
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <common/nordic/nrf52840_uf2_boot_mode.dtsi>
#include <zephyr/dt-bindings/regulator/nrf5x.h>
#include "k380-layouts.dtsi"

/ {
    model = "K380";
    compatible = "kimwolf,k380";

    chosen {
        zephyr,code-partition = &code_partition;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zmk,physical-layout = &physical_layout0;
        zmk,kscan = &k380_kscan;
    };

    k380_kscan: k380_kscan {
        compatible = "k380,kscan-no-diode-matrix";
        row-gpios =
            <&gpio1 9 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 26 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 4 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 12 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 7 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 15 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>;
        col-gpios =
            <&gpio0 5 GPIO_PULL_DOWN>,
            <&gpio0 17 GPIO_PULL_DOWN>,
            <&gpio0 20 GPIO_PULL_DOWN>,
            <&gpio0 22 GPIO_PULL_DOWN>,
            <&gpio1 2 GPIO_PULL_DOWN>,
            <&gpio1 4 GPIO_PULL_DOWN>,
            <&gpio1 6 GPIO_PULL_DOWN>,
            <&gpio0 31 GPIO_PULL_DOWN>,
            <&gpio0 29 GPIO_PULL_DOWN>,
            <&gpio0 2 GPIO_PULL_DOWN>,
            <&gpio1 13 GPIO_PULL_DOWN>,
            <&gpio0 28 GPIO_PULL_DOWN>,
            <&gpio0 3 GPIO_PULL_DOWN>,
            <&gpio1 10 GPIO_PULL_DOWN>,
            <&gpio1 11 GPIO_PULL_DOWN>;
        debounce-press-ms = <5>;
        debounce-release-ms = <5>;
        debounce-scan-period-ms = <1>;
        poll-period-ms = <10>;
    };
};

&reg1 {
    regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

zephyr_udc0: &usbd {
    status = "okay";
};

&gpiote {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        mbr_softdevice_partition: partition@0 {
            reg = <0x00000000 0x00026000>;
            read-only;
        };

        code_partition: partition@26000 {
            reg = <0x00026000 0x000A4000>;
        };

        storage_partition: partition@ca000 {
            reg = <0x000CA000 0x00020000>;
        };

        dfu_app_data_partition: partition@ea000 {
            reg = <0x000EA000 0x0000A000>;
            read-only;
        };

        boot_partition: partition@f4000 {
            reg = <0x000F4000 0x0000C000>;
            read-only;
        };
    };
};
