/*
 * Copyright (c) 2026
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define FN      1

#define K380_BLE_SLOT_SELECT 0
#define K380_BLE_SLOT_PAIR   1

/ {
    behaviors {
        k380_ble: k380_ble_slot {
            compatible = "k380,behavior-ble-slot";
            #binding-cells = <2>;
            display-name = "K380 BLE Slot";
        };

        k380_dk: k380_dynamic_key {
            compatible = "k380,behavior-dynamic-key";
            #binding-cells = <2>;
            display-name = "K380 Dynamic Key";
        };

        k380_preset: k380_preset {
            compatible = "k380,behavior-preset-switch";
            #binding-cells = <1>;
            display-name = "K380 Preset";
        };

        k380_bt_1: k380_bt_1 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <500>;
            bindings = <&k380_ble_pair_1 &k380_ble_select_1>;
        };

        k380_bt_2: k380_bt_2 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <500>;
            bindings = <&k380_ble_pair_2 &k380_ble_select_2>;
        };

        k380_bt_3: k380_bt_3 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <500>;
            bindings = <&k380_ble_pair_3 &k380_ble_select_3>;
        };
    };

    macros {
        k380_ble_pair_1: k380_ble_pair_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&k380_ble K380_BLE_SLOT_PAIR 1>;
        };

        k380_ble_select_1: k380_ble_select_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&k380_ble K380_BLE_SLOT_SELECT 1>;
        };

        k380_ble_pair_2: k380_ble_pair_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&k380_ble K380_BLE_SLOT_PAIR 2>;
        };

        k380_ble_select_2: k380_ble_select_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&k380_ble K380_BLE_SLOT_SELECT 2>;
        };

        k380_ble_pair_3: k380_ble_pair_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&k380_ble K380_BLE_SLOT_PAIR 3>;
        };

        k380_ble_select_3: k380_ble_select_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&k380_ble K380_BLE_SLOT_SELECT 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &k380_dk 0 HID_USAGE_KEY_KEYBOARD_ESCAPE     &k380_dk 1 HID_USAGE_KEY_KEYBOARD_F1   &k380_dk 2 HID_USAGE_KEY_KEYBOARD_F2   &k380_dk 3 HID_USAGE_KEY_KEYBOARD_F3   &k380_dk 4 HID_USAGE_KEY_KEYBOARD_F4   &k380_dk 5 HID_USAGE_KEY_KEYBOARD_F5   &k380_dk 6 HID_USAGE_KEY_KEYBOARD_F6   &k380_dk 7 HID_USAGE_KEY_KEYBOARD_F7   &k380_dk 8 HID_USAGE_KEY_KEYBOARD_F8   &k380_dk 9 HID_USAGE_KEY_KEYBOARD_F9   &k380_dk 10 HID_USAGE_KEY_KEYBOARD_F10  &k380_dk 11 HID_USAGE_KEY_KEYBOARD_F11  &k380_dk 12 HID_USAGE_KEY_KEYBOARD_F12  &k380_dk 13 HID_USAGE_KEY_KEYBOARD_INSERT   &k380_dk 14 HID_USAGE_KEY_KEYBOARD_DELETE_FORWARD
                &k380_dk 15 HID_USAGE_KEY_KEYBOARD_GRAVE_ACCENT_AND_TILDE   &k380_dk 16 HID_USAGE_KEY_KEYBOARD_1_AND_EXCLAMATION    &k380_dk 17 HID_USAGE_KEY_KEYBOARD_2_AND_AT   &k380_dk 18 HID_USAGE_KEY_KEYBOARD_3_AND_HASH   &k380_dk 19 HID_USAGE_KEY_KEYBOARD_4_AND_DOLLAR   &k380_dk 20 HID_USAGE_KEY_KEYBOARD_5_AND_PERCENT   &k380_dk 21 HID_USAGE_KEY_KEYBOARD_6_AND_CARET   &k380_dk 22 HID_USAGE_KEY_KEYBOARD_7_AND_AMPERSAND   &k380_dk 23 HID_USAGE_KEY_KEYBOARD_8_AND_ASTERISK   &k380_dk 24 HID_USAGE_KEY_KEYBOARD_9_AND_LEFT_PARENTHESIS   &k380_dk 25 HID_USAGE_KEY_KEYBOARD_0_AND_RIGHT_PARENTHESIS   &k380_dk 26 HID_USAGE_KEY_KEYBOARD_MINUS_AND_UNDERSCORE &k380_dk 27 HID_USAGE_KEY_KEYBOARD_EQUAL_AND_PLUS &k380_dk 28 HID_USAGE_KEY_KEYBOARD_DELETE_BACKSPACE
                &k380_dk 29 HID_USAGE_KEY_KEYBOARD_TAB     &k380_dk 30 HID_USAGE_KEY_KEYBOARD_Q     &k380_dk 31 HID_USAGE_KEY_KEYBOARD_W    &k380_dk 32 HID_USAGE_KEY_KEYBOARD_E    &k380_dk 33 HID_USAGE_KEY_KEYBOARD_R    &k380_dk 34 HID_USAGE_KEY_KEYBOARD_T    &k380_dk 35 HID_USAGE_KEY_KEYBOARD_Y    &k380_dk 36 HID_USAGE_KEY_KEYBOARD_U    &k380_dk 37 HID_USAGE_KEY_KEYBOARD_I    &k380_dk 38 HID_USAGE_KEY_KEYBOARD_O    &k380_dk 39 HID_USAGE_KEY_KEYBOARD_P    &k380_dk 40 HID_USAGE_KEY_KEYBOARD_LEFT_BRACKET_AND_LEFT_BRACE  &k380_dk 41 HID_USAGE_KEY_KEYBOARD_RIGHT_BRACKET_AND_RIGHT_BRACE  &k380_dk 42 HID_USAGE_KEY_KEYBOARD_BACKSLASH_AND_PIPE
                &k380_dk 43 HID_USAGE_KEY_KEYBOARD_CAPS_LOCK    &k380_dk 44 HID_USAGE_KEY_KEYBOARD_A     &k380_dk 45 HID_USAGE_KEY_KEYBOARD_S    &k380_dk 46 HID_USAGE_KEY_KEYBOARD_D    &k380_dk 47 HID_USAGE_KEY_KEYBOARD_F    &k380_dk 48 HID_USAGE_KEY_KEYBOARD_G    &k380_dk 49 HID_USAGE_KEY_KEYBOARD_H    &k380_dk 50 HID_USAGE_KEY_KEYBOARD_J    &k380_dk 51 HID_USAGE_KEY_KEYBOARD_K    &k380_dk 52 HID_USAGE_KEY_KEYBOARD_L    &k380_dk 53 HID_USAGE_KEY_KEYBOARD_SEMICOLON_AND_COLON &k380_dk 54 HID_USAGE_KEY_KEYBOARD_APOSTROPHE_AND_QUOTE   &k380_dk 55 HID_USAGE_KEY_KEYBOARD_RETURN_ENTER
                &k380_dk 56 HID_USAGE_KEY_KEYBOARD_LEFTSHIFT   &k380_dk 57 HID_USAGE_KEY_KEYBOARD_NON_US_BACKSLASH_AND_PIPE  &k380_dk 58 HID_USAGE_KEY_KEYBOARD_Z    &k380_dk 59 HID_USAGE_KEY_KEYBOARD_X    &k380_dk 60 HID_USAGE_KEY_KEYBOARD_C    &k380_dk 61 HID_USAGE_KEY_KEYBOARD_V    &k380_dk 62 HID_USAGE_KEY_KEYBOARD_B    &k380_dk 63 HID_USAGE_KEY_KEYBOARD_N    &k380_dk 64 HID_USAGE_KEY_KEYBOARD_M    &k380_dk 65 HID_USAGE_KEY_KEYBOARD_COMMA_AND_LESS_THAN &k380_dk 66 HID_USAGE_KEY_KEYBOARD_PERIOD_AND_GREATER_THAN   &k380_dk 67 HID_USAGE_KEY_KEYBOARD_SLASH_AND_QUESTION_MARK  &k380_dk 68 HID_USAGE_KEY_KEYBOARD_RIGHTSHIFT
                &k380_dk 69 HID_USAGE_KEY_KEYBOARD_LEFTCONTROL   &mo FN    &k380_dk 71 HID_USAGE_KEY_KEYBOARD_LEFT_GUI &k380_dk 72 HID_USAGE_KEY_KEYBOARD_LEFTALT &k380_dk 73 HID_USAGE_KEY_KEYBOARD_SPACEBAR &k380_dk 74 HID_USAGE_KEY_KEYBOARD_RIGHTALT &k380_dk 75 HID_USAGE_KEY_KEYBOARD_RIGHTCONTROL &k380_dk 76 HID_USAGE_KEY_KEYBOARD_LEFTARROW &k380_dk 77 HID_USAGE_KEY_KEYBOARD_UPARROW   &k380_dk 78 HID_USAGE_KEY_KEYBOARD_DOWNARROW &k380_dk 79 HID_USAGE_KEY_KEYBOARD_RIGHTARROW
            >;
        };

        fn_layer {
            bindings = <
                &k380_dk 0 HID_USAGE_KEY_KEYBOARD_ESCAPE &k380_bt_1 0 0 &k380_bt_2 0 0 &k380_bt_3 0 0 &trans &k380_dk 5 HID_USAGE_KEY_KEYBOARD_F5 &k380_dk 6 HID_USAGE_KEY_KEYBOARD_F6 &k380_dk 7 HID_USAGE_KEY_KEYBOARD_F7 &k380_dk 8 HID_USAGE_KEY_KEYBOARD_F8 &k380_dk 9 HID_USAGE_KEY_KEYBOARD_F9 &k380_dk 10 HID_USAGE_KEY_KEYBOARD_F10 &k380_dk 11 HID_USAGE_KEY_KEYBOARD_F11 &k380_dk 12 HID_USAGE_KEY_KEYBOARD_F12 &k380_dk 13 HID_USAGE_KEY_KEYBOARD_INSERT &bootloader
                &k380_dk 15 HID_USAGE_KEY_KEYBOARD_GRAVE_ACCENT_AND_TILDE &k380_preset 0 &k380_preset 1 &k380_preset 2 &k380_preset 3 &k380_dk 20 HID_USAGE_KEY_KEYBOARD_5_AND_PERCENT &k380_dk 21 HID_USAGE_KEY_KEYBOARD_6_AND_CARET &k380_dk 22 HID_USAGE_KEY_KEYBOARD_7_AND_AMPERSAND &k380_dk 23 HID_USAGE_KEY_KEYBOARD_8_AND_ASTERISK &k380_dk 24 HID_USAGE_KEY_KEYBOARD_9_AND_LEFT_PARENTHESIS &k380_dk 25 HID_USAGE_KEY_KEYBOARD_0_AND_RIGHT_PARENTHESIS &k380_dk 26 HID_USAGE_KEY_KEYBOARD_MINUS_AND_UNDERSCORE &k380_dk 27 HID_USAGE_KEY_KEYBOARD_EQUAL_AND_PLUS &trans
                &k380_dk 29 HID_USAGE_KEY_KEYBOARD_TAB &k380_dk 30 HID_USAGE_KEY_KEYBOARD_Q &k380_dk 31 HID_USAGE_KEY_KEYBOARD_W &k380_dk 32 HID_USAGE_KEY_KEYBOARD_E &k380_dk 33 HID_USAGE_KEY_KEYBOARD_R &k380_dk 34 HID_USAGE_KEY_KEYBOARD_T &k380_dk 35 HID_USAGE_KEY_KEYBOARD_Y &k380_dk 36 HID_USAGE_KEY_KEYBOARD_U &k380_dk 37 HID_USAGE_KEY_KEYBOARD_I &k380_dk 38 HID_USAGE_KEY_KEYBOARD_O &k380_dk 39 HID_USAGE_KEY_KEYBOARD_P &k380_dk 40 HID_USAGE_KEY_KEYBOARD_LEFT_BRACKET_AND_LEFT_BRACE &k380_dk 41 HID_USAGE_KEY_KEYBOARD_RIGHT_BRACKET_AND_RIGHT_BRACE &k380_dk 42 HID_USAGE_KEY_KEYBOARD_BACKSLASH_AND_PIPE
                &k380_dk 43 HID_USAGE_KEY_KEYBOARD_CAPS_LOCK &k380_dk 44 HID_USAGE_KEY_KEYBOARD_A &k380_dk 45 HID_USAGE_KEY_KEYBOARD_S &k380_dk 46 HID_USAGE_KEY_KEYBOARD_D &k380_dk 47 HID_USAGE_KEY_KEYBOARD_F &k380_dk 48 HID_USAGE_KEY_KEYBOARD_G &k380_dk 49 HID_USAGE_KEY_KEYBOARD_H &k380_dk 50 HID_USAGE_KEY_KEYBOARD_J &k380_dk 51 HID_USAGE_KEY_KEYBOARD_K &k380_dk 52 HID_USAGE_KEY_KEYBOARD_L &k380_dk 53 HID_USAGE_KEY_KEYBOARD_SEMICOLON_AND_COLON &k380_dk 54 HID_USAGE_KEY_KEYBOARD_APOSTROPHE_AND_QUOTE &k380_dk 55 HID_USAGE_KEY_KEYBOARD_RETURN_ENTER
                &k380_dk 56 HID_USAGE_KEY_KEYBOARD_LEFTSHIFT &k380_dk 57 HID_USAGE_KEY_KEYBOARD_NON_US_BACKSLASH_AND_PIPE &k380_dk 58 HID_USAGE_KEY_KEYBOARD_Z &k380_dk 59 HID_USAGE_KEY_KEYBOARD_X &k380_dk 60 HID_USAGE_KEY_KEYBOARD_C &k380_dk 61 HID_USAGE_KEY_KEYBOARD_V &k380_dk 62 HID_USAGE_KEY_KEYBOARD_B &k380_dk 63 HID_USAGE_KEY_KEYBOARD_N &k380_dk 64 HID_USAGE_KEY_KEYBOARD_M &k380_dk 65 HID_USAGE_KEY_KEYBOARD_COMMA_AND_LESS_THAN &k380_dk 66 HID_USAGE_KEY_KEYBOARD_PERIOD_AND_GREATER_THAN &k380_dk 67 HID_USAGE_KEY_KEYBOARD_SLASH_AND_QUESTION_MARK &k380_dk 68 HID_USAGE_KEY_KEYBOARD_RIGHTSHIFT
                &k380_dk 69 HID_USAGE_KEY_KEYBOARD_LEFTCONTROL &k380_dk 70 HID_USAGE_KEY_KEYBOARD_LEFT_GUI &k380_dk 71 HID_USAGE_KEY_KEYBOARD_LEFTALT &k380_dk 72 HID_USAGE_KEY_KEYBOARD_SPACEBAR &k380_dk 73 HID_USAGE_KEY_KEYBOARD_RIGHTALT &k380_dk 74 HID_USAGE_KEY_KEYBOARD_RIGHTCONTROL &k380_dk 75 HID_USAGE_KEY_KEYBOARD_LEFTARROW &k380_dk 76 HID_USAGE_KEY_KEYBOARD_UPARROW &k380_dk 77 HID_USAGE_KEY_KEYBOARD_DOWNARROW &k380_dk 78 HID_USAGE_KEY_KEYBOARD_RIGHTARROW &trans
            >;
        };
    };
};
