/*
 * Copyright (c) 2026
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define FN      1

#define K380_BLE_SLOT_SELECT 0
#define K380_BLE_SLOT_PAIR   1

/ {
    behaviors {
        k380_ble: k380_ble_slot {
            compatible = "k380,behavior-ble-slot";
            #binding-cells = <2>;
            display-name = "K380 BLE Slot";
        };

        k380_bt_1: k380_bt_1 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <500>;
            bindings = <&k380_ble_pair_1 &k380_ble_select_1>;
        };

        k380_bt_2: k380_bt_2 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <500>;
            bindings = <&k380_ble_pair_2 &k380_ble_select_2>;
        };

        k380_bt_3: k380_bt_3 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <500>;
            bindings = <&k380_ble_pair_3 &k380_ble_select_3>;
        };
    };

    macros {
        k380_ble_pair_1: k380_ble_pair_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&k380_ble K380_BLE_SLOT_PAIR 1>;
        };

        k380_ble_select_1: k380_ble_select_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&k380_ble K380_BLE_SLOT_SELECT 1>;
        };

        k380_ble_pair_2: k380_ble_pair_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&k380_ble K380_BLE_SLOT_PAIR 2>;
        };

        k380_ble_select_2: k380_ble_select_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&k380_ble K380_BLE_SLOT_SELECT 2>;
        };

        k380_ble_pair_3: k380_ble_pair_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&k380_ble K380_BLE_SLOT_PAIR 3>;
        };

        k380_ble_select_3: k380_ble_select_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&k380_ble K380_BLE_SLOT_SELECT 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC     &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F6   &kp F7   &kp F8   &kp F9   &kp F10  &kp F11  &kp F12  &kp INS   &kp DEL
                &kp GRAVE   &kp N1    &kp N2   &kp N3   &kp N4   &kp N5   &kp N6   &kp N7   &kp N8   &kp N9   &kp N0   &kp MINUS &kp EQUAL &kp BSPC
                &kp TAB     &kp Q     &kp W    &kp E    &kp R    &kp T    &kp Y    &kp U    &kp I    &kp O    &kp P    &kp LBKT  &kp RBKT  &kp BSLH
                &kp CLCK    &kp A     &kp S    &kp D    &kp F    &kp G    &kp H    &kp J    &kp K    &kp L    &kp SEMI &kp SQT   &kp RET
                &kp LSHFT   &kp NUBS  &kp Z    &kp X    &kp C    &kp V    &kp B    &kp N    &kp M    &kp COMMA &kp DOT   &kp FSLH  &kp RSHFT
                &kp LCTRL   &mo FN    &kp LGUI &kp LALT &kp SPACE &kp RALT &kp RCTRL &kp LEFT &kp UP   &kp DOWN &kp RIGHT
            >;
        };

        fn_layer {
            bindings = <
                &trans      &k380_bt_1 0 0 &k380_bt_2 0 0 &k380_bt_3 0 0 &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans    &bootloader
                &trans      &trans    &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans    &trans   &trans
                &trans      &trans    &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans    &trans   &trans
                &trans      &trans    &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans    &trans
                &trans      &trans    &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans    &trans
                &trans      &trans    &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans
            >;
        };
    };
};
