/*
 * Copyright (c) 2026
 *
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <common/nordic/nrf52840_uf2_boot_mode.dtsi>
#include <zephyr/dt-bindings/regulator/nrf5x.h>
#include <dt-bindings/zmk/matrix_transform.h>
#include "k380-layouts.dtsi"

/ {
    model = "K380";
    compatible = "kimwolf,k380";

    chosen {
        zephyr,code-partition = &code_partition;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zmk,physical-layout = &physical_layout0;
        zmk,kscan = &k380_kscan;
    };

    k380_kscan: k380_kscan {
        compatible = "k380,kscan-no-diode-matrix";
        row-gpios =
            <&gpio1 9 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 26 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 4 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 12 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 7 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 15 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>;
        col-gpios =
            <&gpio0 5 GPIO_PULL_DOWN>,
            <&gpio0 17 GPIO_PULL_DOWN>,
            <&gpio0 20 GPIO_PULL_DOWN>,
            <&gpio0 22 GPIO_PULL_DOWN>,
            <&gpio1 2 GPIO_PULL_DOWN>,
            <&gpio1 4 GPIO_PULL_DOWN>,
            <&gpio1 6 GPIO_PULL_DOWN>,
            <&gpio0 31 GPIO_PULL_DOWN>,
            <&gpio0 29 GPIO_PULL_DOWN>,
            <&gpio0 2 GPIO_PULL_DOWN>,
            <&gpio1 13 GPIO_PULL_DOWN>,
            <&gpio0 28 GPIO_PULL_DOWN>,
            <&gpio0 3 GPIO_PULL_DOWN>,
            <&gpio1 10 GPIO_PULL_DOWN>,
            <&gpio1 11 GPIO_PULL_DOWN>;
        debounce-press-ms = <5>;
        debounce-release-ms = <5>;
        debounce-scan-period-ms = <1>;
        poll-period-ms = <10>;
    };

    /* ZMK physical layouts require an explicit transform. */
    k380_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <15>;
        rows = <8>;
        map = <
            RC(7,3)  RC(1,4)  RC(1,2)  RC(7,5)  RC(0,8)  RC(3,5)  RC(1,3)  RC(1,9)  RC(7,4)  RC(5,9)  RC(5,3)  RC(5,5)  RC(5,2)  RC(4,6)  RC(4,7)
            RC(5,13) RC(7,6)  RC(5,6)  RC(3,9)  RC(7,1)  RC(3,8)  RC(7,7)  RC(2,6)  RC(6,8)  RC(0,1)  RC(5,4)  RC(7,2)  RC(2,1)  RC(4,3)
            RC(7,8)  RC(1,7)  RC(6,5)  RC(6,2)  RC(1,6)  RC(4,8)  RC(1,1)  RC(6,3)  RC(3,4)  RC(2,4)  RC(4,5)  RC(2,2)  RC(3,2)  RC(4,9)
            RC(3,1)  RC(0,9)  RC(2,3)  RC(4,4)  RC(0,7)  RC(5,8)  RC(1,5)  RC(0,5)  RC(4,2)  RC(2,9)  RC(6,7)  RC(0,2)  RC(0,3)
            RC(7,10) RC(4,13) RC(7,9)  RC(1,8)  RC(5,7)  RC(3,6)  RC(3,3)  RC(0,6)  RC(2,7)  RC(0,4)  RC(6,4)  RC(6,1)  RC(6,10)
            RC(3,14) RC(0,13) RC(1,12) RC(5,11) RC(5,1)  RC(4,11) RC(2,0)  RC(3,7)  RC(2,8)  RC(6,6)  RC(4,1)
        >;
    };
};

&physical_layout0 {
    transform = <&k380_transform>;
};

&reg1 {
    regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

zephyr_udc0: &usbd {
    status = "okay";
};

&gpiote {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        mbr_softdevice_partition: partition@0 {
            reg = <0x00000000 0x00026000>;
            read-only;
        };

        code_partition: partition@26000 {
            reg = <0x00026000 0x000A4000>;
        };

        storage_partition: partition@ca000 {
            reg = <0x000CA000 0x00020000>;
        };

        dfu_app_data_partition: partition@ea000 {
            reg = <0x000EA000 0x0000A000>;
            read-only;
        };

        boot_partition: partition@f4000 {
            reg = <0x000F4000 0x0000C000>;
            read-only;
        };
    };
};
