DT_COMPAT_K380_KSCAN_NO_DIODE_MATRIX := k380,kscan-no-diode-matrix

if KSCAN

config K380_KSCAN_NO_DIODE_MATRIX
    bool
    default $(dt_compat_enabled,$(DT_COMPAT_K380_KSCAN_NO_DIODE_MATRIX))
    select ZMK_KSCAN_GPIO_DRIVER

endif # KSCAN
