#include <zephyr/dt-bindings/gpio/gpio.h>
#include <behaviors.dtsi>

/ {
    chosen { zmk,kscan = &k380_board_build_kscan; };

    k380_board_build_kscan: k380_board_build_kscan {
        compatible = "k380,kscan-no-diode-matrix";
        row-gpios =
            <&gpio0 0 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 1 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 3 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 4 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 5 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>,
            <&gpio0 7 (GPIO_ACTIVE_HIGH | GPIO_OPEN_SOURCE)>;
        col-gpios =
            <&gpio0 8 GPIO_PULL_DOWN>, <&gpio0 9 GPIO_PULL_DOWN>,
            <&gpio0 10 GPIO_PULL_DOWN>, <&gpio0 11 GPIO_PULL_DOWN>,
            <&gpio0 12 GPIO_PULL_DOWN>, <&gpio0 13 GPIO_PULL_DOWN>,
            <&gpio0 14 GPIO_PULL_DOWN>, <&gpio0 15 GPIO_PULL_DOWN>,
            <&gpio0 16 GPIO_PULL_DOWN>, <&gpio0 17 GPIO_PULL_DOWN>,
            <&gpio0 18 GPIO_PULL_DOWN>, <&gpio0 19 GPIO_PULL_DOWN>,
            <&gpio0 20 GPIO_PULL_DOWN>, <&gpio0 21 GPIO_PULL_DOWN>,
            <&gpio0 22 GPIO_PULL_DOWN>;
        debounce-press-ms = <1>;
        debounce-release-ms = <1>;
        debounce-scan-period-ms = <1>;
        poll-period-ms = <10>;
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer { bindings = <&none>; };
    };
};

&gpio0 {
    status = "okay";
    /delete-property/ gpiote-instance;
};
